.tituloBusqueda{
    font-size: 4rem;
}

/* SearchBar.module.css */

.searchBarContainer {
    display: flex;
    align-items: center;

  }
  
  .searchIcon {
    margin-right: 5px; 
    cursor: pointer;

  }
  
  .searchInput {
 
    background-color: rgba(4, 5, 33, 1);
    color: #e3e7ed;
 

  }
  