.footerWh {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1%;
   
  }

.iconosFooter {
    display: flex;
    gap: 15px;
width: 10rem;
height: 1.56388rem;

}

.vencer{
    width: 2.23525rem;
    height: 2.125rem;
}